# Byte-compiled files
**__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
**venv/

# IDE / editor directories and files
.vscode/
.idea/
*.swp

# Test result files
.coverage
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/
